In [2]:
# Must be included at the beginning of each new notebook. Remember to change the app name.
import findspark
findspark.init('/home/ubuntu/spark-3.2.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
#name 
spark = SparkSession.builder.appName('722 test-basics').getOrCreate()

In [3]:
# Let's read in the data. Note that it's in the format of JSON.
df = spark.read.load("./data/yd.csv",format = "csv",header="true")

In [4]:
df.show()

+-----------+------+------------+-----------+------------+-------+---------+-----+---------+----+-----+-----------+
|Domain Code|Domain|Country Code|    country|Element Code|Element|Item Code| Item|Year Code|year| Unit|Yield Value|
+-----------+------+------------+-----------+------------+-------+---------+-----+---------+----+-----+-----------+
|         QC| Crops|           2|Afghanistan|        5419|  Yield|       56|Maize|     1961|1961|hg/ha|      14000|
|         QC| Crops|           2|Afghanistan|        5419|  Yield|       56|Maize|     1962|1962|hg/ha|      14000|
|         QC| Crops|           2|Afghanistan|        5419|  Yield|       56|Maize|     1963|1963|hg/ha|      14260|
|         QC| Crops|           2|Afghanistan|        5419|  Yield|       56|Maize|     1964|1964|hg/ha|      14257|
|         QC| Crops|           2|Afghanistan|        5419|  Yield|       56|Maize|     1965|1965|hg/ha|      14400|
|         QC| Crops|           2|Afghanistan|        5419|  Yield|       56|Maize|     1966|1966|hg/ha|      14400|
|         QC| Crops|           2|Afghanistan|        5419|  Yield|       56|Maize|     1967|1967|hg/ha|      14144|
|         QC| Crops|           2|Afghanistan|        5419|  Yield|       56|Maize|     1968|1968|hg/ha|      17064|
|         QC| Crops|           2|Afghanistan|        5419|  Yield|       56|Maize|     1969|1969|hg/ha|      17177|
|         QC| Crops|           2|Afghanistan|        5419|  Yield|       56|Maize|     1970|1970|hg/ha|      14757|
|         QC| Crops|           2|Afghanistan|        5419|  Yield|       56|Maize|     1971|1971|hg/ha|      13400|
|         QC| Crops|           2|Afghanistan|        5419|  Yield|       56|Maize|     1972|1972|hg/ha|      15652|
|         QC| Crops|           2|Afghanistan|        5419|  Yield|       56|Maize|     1973|1973|hg/ha|      16170|
|         QC| Crops|           2|Afghanistan|        5419|  Yield|       56|Maize|     1974|1974|hg/ha|      16170|
|         QC| Crops|           2|Afghanistan|        5419|  Yield|       56|Maize|     1975|1975|hg/ha|      16116|
|         QC| Crops|           2|Afghanistan|        5419|  Yield|       56|Maize|     1976|1976|hg/ha|      16598|
|         QC| Crops|           2|Afghanistan|        5419|  Yield|       56|Maize|     1977|1977|hg/ha|      15833|
|         QC| Crops|           2|Afghanistan|        5419|  Yield|       56|Maize|     1978|1978|hg/ha|      16183|
|         QC| Crops|           2|Afghanistan|        5419|  Yield|       56|Maize|     1979|1979|hg/ha|      16102|
|         QC| Crops|           2|Afghanistan|        5419|  Yield|       56|Maize|     1980|1980|hg/ha|      16711|
+-----------+------+------------+-----------+------------+-------+---------+-----+---------+----+-----+-----------+
only showing top 20 rows

In [7]:
df.columns

['Domain Code',
 'Domain',
 'Country Code',
 'country',
 'Element Code',
 'Element',
 'Item Code',
 'Item',
 'Year Code',
 'year',
 'Unit',
 'Yield Value']

In [8]:
df.describe().show()

+-------+-----------+------+------------------+--------------+------------+-------+------------------+-------+-----------------+-----------------+-----+-----------------+
|summary|Domain Code|Domain|      Country Code|       country|Element Code|Element|         Item Code|   Item|        Year Code|             year| Unit|      Yield Value|
+-------+-----------+------+------------------+--------------+------------+-------+------------------+-------+-----------------+-----------------+-----+-----------------+
|  count|      56717| 56717|             56717|         56717|       56717|  56717|             56717|  56717|            56717|            56717|56717|            56717|
|   mean|       null|  null|125.65042227198195|          null|      5419.0|   null|111.61165082779414|   null|1989.669569970203|1989.669569970203| null|62094.66008427808|
| stddev|       null|  null| 75.12019495452651|          null|         0.0|   null|101.27843534146328|   null|16.13319773965858|16.13319773965858| null|67835.93285591135|
|    min|         QC| Crops|                 1| cote d ivoire|        5419|  Yield|               116|Cassava|             1961|             1961|hg/ha|                0|
|    max|         QC| Crops|                99|      Zimbabwe|        5419|  Yield|                83|   Yams|             2016|             2016|hg/ha|            99995|
+-------+-----------+------+------------------+--------------+------------+-------+------------------+-------+-----------------+-----------------+-----+-----------------+

In [9]:
df.printSchema()

root
 |-- Domain Code: string (nullable = true)
 |-- Domain: string (nullable = true)
 |-- Country Code: string (nullable = true)
 |-- country: string (nullable = true)
 |-- Element Code: string (nullable = true)
 |-- Element: string (nullable = true)
 |-- Item Code: string (nullable = true)
 |-- Item: string (nullable = true)
 |-- Year Code: string (nullable = true)
 |-- year: string (nullable = true)
 |-- Unit: string (nullable = true)
 |-- Yield Value: string (nullable = true)

In [10]:
# Let's import in the relevant types.
from pyspark.sql.types import (StructField,StringType,IntegerType,StructType)